html {
    font-family: sans-serif;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
nav#horizontal ul {
    display: flex;
    justify-content: space-between;
    a{
        color: inherit;
        text-decoration: none;
        font-weight: 100;
        padding: 5px;
        display: inline-block;
}
    a:hover, a.active {
        color: red;
        background-color: hsl(0, 0, 21%);
        
    }
}
nav#horizontal {
    background-color: gray;
    padding: 10px;
 }
 nav#dropdown {
     background-color: hsl(0,0%,85%);
     padding: 10px;
     color: black;
 }
 nav#dropdown ul{
    //  background-color: hsla(15, 50%, 50%, .5);

     &li {
         position: relative;
         display: inline-block;
     }
     & li:nth-child(1):hover {
        ul{
            display: block;
        }
    }
     ul{
        display: none;
        position: absolute;
        background-color: hsl(0,0%,55%);
        padding: 10px;
        width: 200px;
     
       & li:not(:last-child){
            border-bottom: 1px solid hsl(0,0%,45%)
        }
        
        li{
            white-space: nowrap;
            display: block;
            border: none;
        }
        a{
            display: block;
            padding-right: 20px;
            transition: all 590ms;
            box-sizing: border-box;
            width: calc(100% -3px);
        }
        a:hover {
            color: white;
            border-left: 3px solid hsl(340,50%,50%);
            text-indent:3px;
        }
    }

     a{
        display: inline-block;
        padding: 5px;
        color: inherit;
        text-decoration: none;
        // background-color: hsl(0,0%,75%)
     }
     a:hover{
        background-color: hsl(0,0%,75%)
     }
 }

 .stuff{
     width: calc(100%-40px);
     background-color: red;
     padding: 40px;
     border: 10px dashed blue;
     margin: 20px;
     box-sizing: border-box;
 }