*{
    color: white;
    background-color: black;
    // text-align: center;
    // margin: auto;
}
header{
    // border-bottom: solid white 2px;
    display: flex;
    flex-wrap: wrap;
    width: 50%
}
 main{
// float: left;     
//  border-right: white solid 2px;
display: flex;
flex-wrap: wrap;
 }   
aside{
    // float:right;
    width: 25%;
    // display: block;
    // background-color: red;
}
body{
    // width: 800px;
    // margin: auto;
    
}

nav{
    // border-bottom: solid white 2px;
}

footer{
    // clear: both;
    // padding-top: 5px;
    // border-top: solid white 2px;
    // background-color: blue;
}
section{
    // margin-top:5em;
    width: 100%;
}
article{
    // background: red;
    width: 75%;
}