@import url("https://fonts.googleapis.com/css?family=Spectral+SC:200,300,400,500,600,700,800");
@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");
@media screen and (max-width:1000px){
  .h{
    background-image: url('https://picsum.photos/500/250?image=1041');
    
   } 
// $font: 
  
  // p{
  //   color: gray;
  // }
}

*{
    margin: 0;
    padding: 0;    
    // font-family: 'Spectral SC', sans-serif;
}
html{
  background-color: black;
}
nav{
font-family: 'Spectral SC', sans-serif;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
nav#dropdown {
    background-color: #443f3f;
    padding: 10px;
    color: white;
    // color: 
  }
  
  nav#dropdown ulli {
    position: relative;
    display: inline-block;
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(172, 171, 171);
    height: 250px;
    font-family: "Comic Sans MS";
    font-size: 12px;
  }
  
  nav#dropdown ul li:nth-child(1):hover ul {
    display: block;
  }
  
  nav#dropdown ul ul {
    display: none;
    position: absolute;
    background-color: #8c8c8c;
    padding: 10px;
    width: 200px;
  }
  
  nav#dropdown ul ul li:not(:last-child) {
    border-bottom: 1px solid #737373;
  }
  
  nav#dropdown ul ul li {
    white-space: nowrap;
    display: block;
    border: none;
  }
  
  nav#dropdown ul ul a {
    display: block;
    padding-right: 20px;
    transition: all 590ms;
    box-sizing: border-box;
    width: calc(100% -3px);
  }
  
  nav#dropdown ul ul a:hover {
    color: white;
    border-left: 3px solid #bf406a;
    text-indent: 3px;
  }
  
  nav#dropdown ul a {
    display: inline-block;
    padding: 5px;
    color: inherit;
    text-decoration: none;
  }
  
  nav#dropdown ul a:hover {
    background-color: #bfbfbf;
  }
  header{
      background-image: url('https://picsum.photos/1000/250?image=1045');
    //   width: 100%;
      margin: auto auto;
      height: 30vh;
      display: flex;
      flex-direction: column;
      background-repeat: no-repeat;
      background-size: cover;
      // background-size: 200vh;
      // background: ;
      line-height: 150%;
      // width: ;
      // background-size: 

  }
  header p{
      margin: auto;
      text-align: center;
      font-size: 40px;
      color: wheat;
      font-family: 'Spectral SC', sans-serif;

  }
  .htext{
    font-size: 19px;
  }
  div#a{
    // background-color: red;
    // width:400px; 
    // border: 1px solid black;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    width: 66vw;
    font-size: 20px;
    color: white;
    img{
      // width: ;
      // height: 220px;
      width: 150px;
      height: 150px;
      margin-top: 20px
      // background-color: white;
    }
  }
  // p{
    
  // }
  div#c{
    // background-color: white;
    // width: 500px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25vw;
    background-color: black;
    text-align: center;
    // margin: 10px;
    // div{
    //   // width: 200px;
      // font-size: 10px;
    // }
    div#project1{
      border-top: 1px solid black;
      border-bottom: 1px solid black; background: lightgreen;
      // padding: 20px; 
      height: 33%;

    }
    div#project2{
      border-bottom: 1px solid black; background-color:lightcoral;
      // padding: 20px; 
      height: 33%;

    }
    div#porject3{
      // border-bottom: 1px solid black; 
      // padding: 20px;
      // display: none;
      background-color: lightblue;
      height: 33%;
      overflow: hidden;
    }
  }
  div#b{
    // background-color: blue;
    width: 12vw;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   #github{
     margin: 15px;
     width: 100px;
    //  background-color: red;
   }
  }
  p{
    margin: 12px 10px;
    
  }
  footer{
    height: 10vh;
    // background-color: saddlebrown;
    background-color: white;
    text-align: right;
    // border-bottom: 1px solid black;
    // border-left: 1px solid black;
    // border-right: 1px solid black;
  }
  a{
    color: black;
    text-decoration: none;
    // margin: 12px;
    text-align: center;
    // justify-content:space-around;
  }
  span.pic{
    // width: 100px;
    // border: 1px black solid;
    display: flex;
  }
span.texts{
margin-left: 12px;
// padding-top: 12px;
}
div#a1{
  float: left;
  padding-right: 50px;
}
div#b2{
  // text-indent: 0;
  margin-left: 100px;
}



@media only screen and (max-width: 860px){
  body{
   width: auto;
   height: auto;
  //  overflow: hidden;
  }
  #back{
    display: flex;
    flex-direction: column;
  //  visibility: hidden;
  //  display: none;
    height: auto;
    width: auto;
    justify-content: center;
    font-size: 12px;
  }
  div#a{
    width: auto;
    // border-bottom: 1px solid black;
    border-right: 0;
    font-size: 12px;
    margin: auto;
    // display: flex;
    // flex-direction: column;
    img{
      width: 120px;
      height: 120px;
      border: 2px solid black;
      display: block;
      margin: auto;
      padding-bottom: 7px;
      // padding-right: 100px;
    }
    span.texts{
    //  font-size: 100px; 
    padding: 0 10px;
    text-align: center;
    width: auto;
    }
  }
  div#b{
    width: 100%;

  }
  div#c{
    width: 100%;
    border-bottom: 1px solid black;
    // padding: 10px 0;
    border-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    
    div#project1{
      border-top: 1px solid black;
      border-bottom: 1px solid black; background: lightgreen;
      padding: 10px; 
      width: auto;
      height: auto;

    }
    div#project2{
      border-bottom: 1px solid black; background-color:lightcoral;
      padding: 10px; 
      height: auto;

    }
    div#porject3{
      // border-bottom: 1px solid black; 
      padding: 10px;
      // display: none;
      background-color: lightblue;
      height: auto;
    }
    
  }
  div#b{
    width: auto;
    display: block;
    // display: none;
    text-align: right;
    a{

    }
  }
  div#github{
    // display: none;
    // justify-content: right;
    // text-align: right;
    width: auto;
    font-size: 15px;
    float: right;
    a{
      // text-align: right;
      // display: block;
      // float: right;
      // margin: auto;
    }
    
    i{
      
    }
  }
  #dropdown{
    visibility: hidden;
    // display: none;
  }
  #a1{
    // border: 1px solid black;
    width: auto;
    padding: 0;
    // padding-bottom: 100px;
  }
  #b2{
// margin: 0;
// padding: 0;
// width: 20px;
  }
  footer{
    font-size: 12px;
  }
}

@media only screen and (max-width: 250px){
  body{

    display: none;
  }
}